<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Banking App">
    <test name="Personal Loan">
        <classes>
            <class name="TestNG_Framework.BankLoan_1" />

            <class name="TestNG_Framework.BankLoan_3"/>
        </classes>
    </test>
    <test name="Car Loan">
        <classes>
            <class name="TestNG_Framework.BankLoan_2">
            <methods>
            <exclude name="api.*"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>